body{
    margin: 0%;
    font-family: Helvetica, sans-serif, Arial;
}
video{
    width: 300px;
    border-radius: 300px;
    border: 10px solid #fff;
}
header{
    padding-top: 1in;
    background-color: blanchedalmond;
    text-align: center;
}

.MainHeading{
    font-size: 50px;
    color: white;
}
h2{
    font-size: 45px;
}
p{
    font-size: 35px;
}

header img{
    border-radius: 300px;
    border: 10px solid #fff;
}
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}
main img{
    max-width: 100%;
}
ol{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.footer{
    text-align: center;
    font-size: 12px;
    color: grey;
}